@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url('../fontes/idroid.otf') format('opentype');
}

:root{
    --cor00:#8acfaf;
    --cor01:#40DB93;
    --cor02:#2FA16C;
    --cor03:#41816b;
    --cor04:#1c4736;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-Android: "Android", Cursive;
    }

    *{
        margin: 0px;
        padding: 0px;
    }

    body{
        background-color: var(--cor00);
        font-family: var(--fonte-padrao);
    }

    header{
        background-image:linear-gradient(to top,#1f7c5b,  #083624);
        min-height: 150px;
        text-align: center;
        padding-top: 40px ;
    }

    header > h1{
        color: white;
        font-family: var(--fonte-destaque);
        margin-bottom: 20px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);
    }

    header p{
        font-family: var(--fonte-padrao);
        font-size: 1.2em;
        color: white;
        max-width: 600px;
        margin: auto;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 30px;
    }

    nav{
        background-color: var(--cor04);
    }

    nav > a{
        color: var(--cor00);
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
    }

    nav > a:hover{
        background-color: var(--cor00);
        color: #021a10;
        border-radius: 5px;
        transition-duration: .4s;
    }


    main{
        background-color: white;
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
        border-radius: 0px 0px 15px 15px;
    }

    main h1{
        font-weight: normal;
        color: var(--cor04);
        font-family: var(--fonte-Android);
    }

    main h2{
        font-family: var(--fonte-Android);
        font-weight: normal;
        color: var(--cor04);
        font-size: 1.3em;
        background-image: linear-gradient(to right, var(--cor01), transparent);
        text-indent: 8px;
    }

    main p{
        font-size: 1em;
        margin: 15px 0px;
        text-align: justify;
        text-indent: 30px;
        line-height: 2em;
    }

    main a{
        text-decoration: none;
        font-weight: bold;
        background-color: var(--cor01);
        color: var(--cor04);
        padding: 2px 6px;
    }

    main a:hover{
        color: var(--cor03);
        text-decoration: underline;
    }

    main strong{
        font-weight: bold;
        color: var(--cor04);
        padding: 2px 6px;
    }

    main img{
        width: 100%;
    }

    main .pequena{
        max-width: 350px;
        display: block;
        margin: auto;
    }

    div.video{
        background-color: var(--cor04);
        margin: 0px -20px 30px -20px;
        padding: 20px;
        position: relative;
        padding-bottom: 57%;
    }

    div.video > iframe{
        position:absolute;
        top:5%;
        left:5%;
        height: 90%;
        width: 90%;
    }

    aside{
        background-color: var(--cor01);
        padding: 10px;
        border-radius: 10px;
    }

    aside > h3{
        background-color: var(--cor04);
        padding: 5px;
        color: white;
        margin: -10px -10px 0px -10px;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
    }

    aside ul{
        list-style-position: inside;
        columns: 2;
        list-style-type: "✔️";
    }

    footer{
        font-family: var(--fonte-padrao);
        background-color:var(--cor04) ;
        color: white;
        font-size: 0.8em;
        padding: 5px;
        text-align: center;
    }

    footer a{
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    footer a:hover{
        text-decoration: underline;
        color: var(--cor02);
    }